<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12">
    <!-- <app-alert-modal
      [message]="error"
      *ngIf="error"
      (close)="onHandleError()"
    ></app-alert-modal> -->
    <!-- <div class="alert alert-danger" *ngIf="error && !isLoading">
      <p>{{ error }}</p>
       <button class="btn btn-danger" (click)="error = false">Okay</button> ->
    </div> -->

    <form (ngSubmit)="onSubmit()" [formGroup]="authForm" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label
        ><input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label
        ><input
          type="text"
          id="password"
          class="form-control"
          formControlName="password"
        />
      </div>
      <div class="auth-form-action-container">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        <span>|</span>
        <button class="btn btn-danger" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
    <div style="text-align: center" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
