<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onAddIngredient()" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            id="name"
            name="name"
            type="text"
            class="form-control"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            id="amount"
            name="amount"
            type="number"
            class="form-control"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="action-btn-container">
            <button
              [disabled]="!form.valid"
              type="button"
              class="btn btn-success"
              type="submit"
            >
              {{ editMode ? "Update" : "Add" }}
            </button>
            <button
              *ngIf="editMode"
              type="button"
              class="btn btn-danger"
              (click)="onDelete()"
            >
              Delete
            </button>
            <button type="button" class="btn btn-primary" (click)="onClear()">
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
